<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <!--<add name="EMarketDbCstr" connectionString="Data Source=.; Initial Catalog=EMarketDb; Integrated Security=true;" providerName="System.Data.SqlClient" />-->
    <add name="EMarketDbCstr" connectionString="Data Source=grup92.cj96jymfgwng.eu-west-3.rds.amazonaws.com,1433; Initial Catalog=EMarketDb; User Id=grupadmin; Password=Vektorel92;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>